#if there's any problem ignoring do this in the terminal: 
#git rm -r --cached .
#git add .
#git commit -m "Remove unwanted files from git history"

__pycache__/
#build/
#sql/
#dist/
localpycs/
pkg/
repo/
*.spec
*.pyc
*.pkg
#*.txt
*.html
*.toc
*.zip
*.c
*.cpp
*.pdf
*.tar.gz
*.pyz
*.sh
